.landing__section {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: var(--first-gradient);
  padding-top: 100px;
}
.Landing__container {
  position: relative;
  gap: 40px;
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.LAnding__title {
  color: var(--text-color);
  font-size: 22px;
  max-width: 52%;
  span {
    color: var(--primary-color);
    font-family: var(--second-font);
  }
}

.landing__title-h2 {
  padding-bottom: 10px;
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  span {
    color: var(--primary-color);
  }
  text-shadow: var(--textShdowLanding);
}

.landing__title-p {
  color: var(--text-color);
  padding-bottom: 20px;
  font-size: 19px;
  span {
    font-weight: 700;
    font-size: 19px;
    font-family: var(--second-font);
  }
}

.swiperContaienr {
  background-color: var(--container-color);
  border-radius: 1rem;
  padding: 20px !important;
  width: 100%;
  animation: profile__animate 9s ease-in-out infinite;
  box-shadow: var(--shadowbuppleLanding);
  height: auto;
}

.Landing__Images {
  width: 490px;
  max-width: 100%;
}

.landing__title-button {
  &.landing__title-button-project {
    margin-left: 20px;
  }
  margin-top: 20px !important;
}

@media (max-width: 1200px) {
  .landing__title-button {
    &.landing__title-button-project {
      margin-left: 0px !important;
    }
  }
}
.landing__Images_image {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.svgContain {
  display: flex;
  justify-content: center;
}

.custom-shape-divider-bottom-1689188262 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689188262 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689188262 .shape-fill {
  fill: url(#MyGradient);
}

.shape-class-1 {
  position: absolute;
  top: 0;
  left: calc(50% - 0px);
  transform: translate(-50%, -50%);
}
.shape-class-2 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 0px);
  transform: translate(-50%, 50%);
}

@media (max-width: 1200px) {
  .container__1 {
    padding: 0;
  }
  .Landing__Images {
    display: none !important;
  }
  .Landing__container {
    justify-content: center;
  }

  .LAnding__title {
    text-align: center;
    max-width: 100%;
  }

  .shape {
    display: none;
  }
  .landing__title-button-contact {
    max-width: 150px;
    font-size: 12px !important;
    font-weight: 700 !important;
    .sharta {
      left: 50% !important;
      transform: translateX(-50%) rotate(90deg);
      bottom: -20px;
    }
    .MuiButton-endIcon {
      svg {
        font-size: 15px !important;
      }
    }
  }
  .landing__title-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .landing__title-button-project {
    margin-top: 25px !important;
  }
}

@media (max-width: 600px) {
  .custom-shape-divider-bottom-1689188262 {
    svg {
      height: 70px;
    }
  }
}
