.mySwiper {
  height: 480px;
  width: 390px;
  max-width: 100%;
}

.sideswiiipe {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: black;
  border: 1px solid var(--primary-color);
  flex-direction: column;
  justify-content: flex-start;
  .works__images {
    object-fit: cover;
    height: 220px;
    margin-bottom: 25px;
  }
  .title {
    color: var(--primary-color);
    font-family: var(--second-font);
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 700;
  }
  .title__description {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
  }
}
